html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    
}

.container {
    display: flex;
    
}

#navbar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-right: 2px solid darkorange;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    color: white;
    height: 100vh;
    position: fixed;
    
   
}

@media screen and (max-width: 1280px) {
    #navbar {
        float: left;
        height: 100vh;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
 
    padding: 8px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    
}

h2 {
    padding: 8px;
}

#main-doc {
    
    padding-left: 260px;
}

#step10 {
    offset-anchor: top;    
}

code {
    display: block;
    white-space: pre-wrap;
    border: 1px dotted darkorange;
    background-color: lightgoldenrodyellow;
    padding: 4px;
    margin: 4px;
    max-width: 800px;
    
}
